/_output/
/bin/
/scenarios/UnitTests/Blueprints
/scenarios/UnitTests/Hyfydy
/scenarios/UnitTests/HyfydyExperimental
/scenarios/UnitTests/HyfydyResults
/scenarios/Backup
/resources/unittestdata/
/install/
/build/
/.version
/src/repository_revision.h
/doc/upload.bat
/doc/html/
/doc/xml/
/doc/ref/
/*.bat
/*.log
.cquery_cached_index/
/.vs/
/.dir-locals.el
*~
__pycache__/