/_output/
/bin/
/scenarios/Tutorials/*.sto
/scenarios/Examples/*.sto
/scenarios/UnitTests/*.sto
/scenarios/UnitTests/Hyfydy
/scenarios/UnitTests/HyfydyExperimental
/scenarios/UnitTests/Blueprints
/scenarios/Benchmarks
/scenarios/Backup
/resources/unittestdata/
/install/
/build/
/.version
/doc/upload.bat
/doc/html/
/doc/xml/
/doc/ref/
/*.bat
/*.log
.cquery_cached_index/
/.vs/
/.dir-locals.el
*~
